<h1>
    Work space
</h1>

<hr style="color:goldenrod" />

<div class="card">
    <div class="card-header text-dark">
        Add car
    </div>
    <div class="card-body text-dark">
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Car" asp-action="AddCar">Add</a>
    </div>
</div>

<hr style="color:goldenrod" />

<div class="card">
    <div class="card-header text-dark">
        Car list
    </div>
    <div class="card-body text-dark">
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Car" asp-action="Index">View</a>
    </div>
</div>

<hr style="color:goldenrod" />

<div class="card">   
    <div class="card-header text-dark">
        Remove car from the list
    </div>
    <div class="card-body text-dark">
        <a class="btn btn-outline-primary" asp-controller="Car" asp-action="RemoveCar">Remove</a>
    </div>
</div>

<hr style="color:goldenrod" />

<div class="card">
    <div class="card-header text-dark">
        Finished items(cars)
    </div>
    <div class="card-body text-dark">
        <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="ShowDeletedCars">View</a>
    </div>
</div>