@{
    ViewData["Title"] = "Home Page";
 
}

<div class="text-center">
    <h1 class="display-1" style="color:white">Auto center Bosnia</h1>
    <p style="color:whitesmoke">Welcome to our site</p>
</div>
