@using eOnlineCarShop.ViewModels
@model AddCarVM
@{
    ViewData["Title"] = "AddCar";
}

<h1>Dodaj te novo vozilo</h1>

<form asp-action="Save">
    <div class="form-group">
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Brand</label>
            <input class="form-control form-control-lg" asp-for="Brand" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Car model</label>
            <input class="form-control form-control-lg" asp-for="CarModel" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Fuel</label>
            <select class="form-control form-control-lg" asp-for="FuelID" asp-items="Model.FuelName"></select>
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Vehicle type</label>
            <select class="form-control form-control-lg" asp-for="VehicleTypeID" asp-items="Model.TypeName"></select>
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">color</label>
            <select class="form-control form-control-lg" asp-for="ColorID" asp-items="Model.Color"></select>
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Drive type</label>
            <select class="form-control form-control-lg" asp-for="DriveTypeID" asp-items="Model.DriveType"></select>
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Transmission</label>
            <select class="form-control form-control-lg" asp-for="TransmissionID" asp-items="Model.Transmission"></select>
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Number of seats</label>
            <input class="form-control form-control-lg" asp-for="NumberOfSeats" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Number of dors</label>
            <input class="form-control form-control-lg" asp-for="NumberOfDors" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Number of gears</label>
            <input class="form-control form-control-lg" asp-for="NumberOfGears" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Power ps</label>
            <input class="form-control form-control-lg" asp-for="PowerPS" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Power Kw</label>
            <input class="form-control form-control-lg" asp-for="PowerKw" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Wheel size</label>
            <input class="form-control form-control-lg" asp-for="WheelSize" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">CCM</label>
            <input class="form-control form-control-lg" asp-for="Ccm" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Kilometre</label>
            <input class="form-control form-control-lg" asp-for="Kilometre" />
        </div>
        <div class="form-group">
            <label class="badge badge-pill badge-dark">Date of manufacture</label>
            <input class="form-control form-control-lg" asp-for="DateOfManufacture" />
        </div>
        <input class="btn btn-primary mb-2" type="submit" value="Save" />
    </div>
</form>
